
:root {
    --primary-blue: #1606f0;
    --sidebar-blue: #1e40af;
    --bg-light: #f8fafc;
    --card-white: #ffffff;
    --text-main: #1e293b;
}

.content {
    flex: 1;
    background-color: var(--bg-light);
    margin: 20px 0 20px 0; /* Espaço para o azul aparecer */
    border-radius: 30px 0 0 30px;
    padding: 40px;
    overflow-y: auto;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: rgb(240, 235, 235);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--primary-blue); /* Fundo azul externo */
}

.sidebar {
    width: 250px;
    background-color: transparent; /* Aproveita o azul do body */
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    margin-top: 30px;
}

.sidebar li {
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li.active {
    background: rgba(255, 255, 255, 0.1);
}

.card-co2 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h3 {
    color: #1e40af;
    font-family: sans-serif;
}
